* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: grid;
  width: 100%;
  height: 13vh;
  grid-template-columns: 1fr 1.5fr 1fr;
  position: fixed;
  overflow: hidden;
  transition: 0.4s;
  z-index: 99;
  background-color: white;
  border-bottom: 0.5px solid teal;
}
nav .nav-right img {
  margin-top: -27px;
  margin-left: 70px;
}
@media screen and (max-width: 1024px) {
  nav .nav-right img {
    margin-top: -22px;
    height: 120px;
    width: 120px;
  }
}
@media screen and (max-width: 820px) {
  nav .nav-right img {
    margin-top: -20px;
    height: 115px;
    width: 115px;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-right img {
    margin-left: 5px;
    margin-top: -15px;
    height: 110px;
    width: 110px;
  }
}
nav .nav-center {
  margin-top: 18px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
nav .nav-center h4 {
  text-align: center;
  padding-top: 10px;
  font-size: 17px;
}
@media screen and (max-width: 1024px) {
  nav .nav-center h4 {
    font-size: 17px;
  }
}
@media screen and (max-width: 820px) {
  nav .nav-center h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-center h4 {
    font-size: 13px;
  }
}
nav .nav-center h4:hover {
  color: rgb(134, 214, 214);
  transform: scale(1.1);
  transition: 0.4s;
  text-decoration: underline;
}
nav .nav-left {
  display: flex;
  justify-content: end;
  gap: 50px;
  margin-right: 90px;
  margin-top: 22px;
}
nav .nav-left .material-icons {
  font-size: 34px;
}
@media screen and (max-width: 1024px) {
  nav .nav-left .material-icons {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-left .material-icons {
    font-size: 23px;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-left {
    gap: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 12vh;
  }
}
.shopping,
.newarrival,
.shopebypets,
.newproducdselling {
  text-align: center;
}
.shopping h2,
.newarrival h2,
.shopebypets h2,
.newproducdselling h2 {
  text-align: center;
  font-size: 22px;
  margin: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .shopping h2,
  .newarrival h2,
  .shopebypets h2,
  .newproducdselling h2 {
    font-size: 25px;
  }
}
.shopping .group_cards,
.shopping .group_card,
.newarrival .group_cards,
.newarrival .group_card,
.shopebypets .group_cards,
.shopebypets .group_card,
.newproducdselling .group_cards,
.newproducdselling .group_card {
  display: flex;
  gap: 20px;
  margin: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.shopping .group_card::-webkit-scrollbar,
.shopping .group_cards::-webkit-scrollbar,
.newarrival .group_card::-webkit-scrollbar,
.newarrival .group_cards::-webkit-scrollbar,
.shopebypets .group_card::-webkit-scrollbar,
.shopebypets .group_cards::-webkit-scrollbar,
.newproducdselling .group_card::-webkit-scrollbar,
.newproducdselling .group_cards::-webkit-scrollbar {
  display: none;
}
.shopping .card,
.newarrival .card,
.shopebypets .card,
.newproducdselling .card {
  border: 1px solid gainsboro;
  border-radius: 15px;
  text-align: start;
  font-size: 15px;
  height: auto;
  gap: 30px;
  padding-bottom: 30px;
}
.shopping .card img,
.newarrival .card img,
.shopebypets .card img,
.newproducdselling .card img {
  border-radius: 15px 15px 0px 0px;
}
@media screen and (max-width: 1024px) {
  .shopping .card img,
  .newarrival .card img,
  .shopebypets .card img,
  .newproducdselling .card img {
    width: 233px;
  }
}
.shopping .card .price,
.newarrival .card .price,
.shopebypets .card .price,
.newproducdselling .card .price {
  display: flex;
  padding-left: 10px;
  gap: 20px;
  font-size: "fonds";
  margin: 10px;
}
.shopping .card label,
.newarrival .card label,
.shopebypets .card label,
.newproducdselling .card label {
  margin: 40px;
  font-weight: bold;
  font-size: "fonds";
}
.shopping .card button,
.newarrival .card button,
.shopebypets .card button,
.newproducdselling .card button {
  text-align: center;
  background: rgb(21, 160, 189);
  border: 1px solid #15A0BD;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 0px 25px;
  font-size: 13px;
  color: white;
  margin: 5px 35px;
}
.shopping .card button p,
.newarrival .card button p,
.shopebypets .card button p,
.newproducdselling .card button p {
  font-size: 13px;
  padding-top: 7px;
}
@media screen and (max-width: 1024px) {
  .shopping .card button p,
  .newarrival .card button p,
  .shopebypets .card button p,
  .newproducdselling .card button p {
    font-size: 11px;
    padding: 3px;
  }
}
@media screen and (max-width: 820px) {
  .shopping .card button p,
  .newarrival .card button p,
  .shopebypets .card button p,
  .newproducdselling .card button p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .shopping .card button p,
  .newarrival .card button p,
  .shopebypets .card button p,
  .newproducdselling .card button p {
    font-size: 13px;
  }
}
.shopping .card button i,
.newarrival .card button i,
.shopebypets .card button i,
.newproducdselling .card button i {
  padding-top: 5px;
}
@media screen and (max-width: 1024px) {
  .shopping .card button i,
  .newarrival .card button i,
  .shopebypets .card button i,
  .newproducdselling .card button i {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .shopping .card button i,
  .newarrival .card button i,
  .shopebypets .card button i,
  .newproducdselling .card button i {
    font-size: 25px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .shopping .card button i,
  .newarrival .card button i,
  .shopebypets .card button i,
  .newproducdselling .card button i {
    font-size: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .shopping .card button,
  .newarrival .card button,
  .shopebypets .card button,
  .newproducdselling .card button {
    width: 70%;
    margin-left: 45px;
    padding: 5px;
  }
}
@media screen and (max-width: 820px) {
  .shopping .card button,
  .newarrival .card button,
  .shopebypets .card button,
  .newproducdselling .card button {
    width: 80%;
    padding: 5px;
    margin-left: 23px;
  }
}
.shopping .card h3,
.newarrival .card h3,
.shopebypets .card h3,
.newproducdselling .card h3 {
  margin-left: 15px;
}
.shopping .card .group_icons,
.newarrival .card .group_icons,
.shopebypets .card .group_icons,
.newproducdselling .card .group_icons {
  width: 100%;
  padding-left: 12px;
  display: flex;
  font-size: 8px;
  color: rgb(249, 165, 11);
}
.shopping .card .listnumber-card,
.newarrival .card .listnumber-card,
.shopebypets .card .listnumber-card,
.newproducdselling .card .listnumber-card {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 10px;
  font-size: 18px;
}
.shopping .card .listnumber-card span,
.newarrival .card .listnumber-card span,
.shopebypets .card .listnumber-card span,
.newproducdselling .card .listnumber-card span {
  font-size: 20px;
  color: red;
}
@media screen and (max-width: 600px) {
  .shopping .card,
  .newarrival .card,
  .shopebypets .card,
  .newproducdselling .card {
    gap: 20px;
  }
}

@keyframes slideshow {
  0% {
    width: 100%;
    left: 100%;
  }
  5% {
    left: 0;
  }
  25% {
    left: 0%;
  }
  30% {
    width: 100%;
    left: -100%;
  }
  30.001% {
    width: 0%;
    left: 100%;
  }
}
.silder {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: -40px;
}

@media screen and (max-width: 600px) {
  .silder {
    margin-top: 50px;
    height: 60vh;
  }
}
.slide {
  position: absolute;
  width: 100%;
  height: inherit;
  overflow: hidden;
  animation: slideshow 20s infinite;
  background-position: center;
  background-size: cover;
  background-color: white;
  color: white;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-slide {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgba(44, 127, 236, 0.2196078431);
  width: 100%;
  height: 90vh;
}
.content-slide h1 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 80px;
}
@media screen and (max-width: 1024px) {
  .content-slide h1 {
    font-size: 48px;
    margin-left: 150px;
  }
}
@media screen and (max-width: 820px) {
  .content-slide h1 {
    font-size: 38px;
    margin-left: 120px;
  }
}
@media screen and (max-width: 600px) {
  .content-slide h1 {
    margin-top: 50px;
    font-size: 35px;
    margin-left: 50px;
  }
}
.content-slide p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 300px;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .content-slide p {
    font-size: 28px;
    margin-left: 40px;
    width: 45%;
  }
}
@media screen and (max-width: 820px) {
  .content-slide p {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .content-slide p {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 80%;
  }
}

.slide:nth-child(1) {
  animation-delay: 13s;
}

.slide:nth-child(2) {
  animation-delay: 11s;
  background-image: url(../../images/home/cover-img1.jpg);
}

.slide:nth-child(3) {
  animation-delay: 7s;
  background-image: url(../../images/home/header2.jpg);
}

.slide:nth-child(4) {
  animation-delay: 4s;
  background-image: url(../../images/home/header3.jpg);
}

.slide:nth-child(5) {
  animation-delay: -1s;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 50px;
  }
}
footer {
  background: rgba(0, 128, 128, 0.129);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
footer .footer_top {
  display: flex;
  height: 40vh;
  justify-content: space-evenly;
}
footer .footer_top .logo_shop {
  flex: 2;
  padding-left: 40px;
}
footer .footer_top .logo_shop img {
  margin-top: -10px;
  margin-left: 80px;
}
footer .footer_top .logo_shop h5 {
  padding-left: -40px;
}
@media screen and (max-width: 1024px) {
  footer .footer_top .logo_shop h5 {
    margin: -30px 20px 30px -20px;
    text-align: justify;
  }
}
@media screen and (max-width: 820px) {
  footer .footer_top .logo_shop img,
  footer .footer_top .logo_shop h5 {
    display: none;
  }
}
footer .footer_top .logo_shop h5:hover {
  color: teal;
}
footer .footer_top .our-service,
footer .footer_top .our-story {
  flex: 1;
  margin-top: 50px;
}
footer .footer_top .our-service ul,
footer .footer_top .our-story ul {
  font-weight: bold;
  font-size: 13px;
}
footer .footer_top .our-service ul li,
footer .footer_top .our-story ul li {
  margin: 5px;
}
@media screen and (max-width: 820px) {
  footer .footer_top .our-service ul li,
  footer .footer_top .our-story ul li {
    font-size: 15px;
    margin: 2px;
  }
}
footer .footer_top .our-service li:hover,
footer .footer_top .our-story li:hover {
  color: teal;
  text-decoration: underline;
}
footer .footer_top .contact-us {
  flex: 1;
  margin-top: 50px;
}
footer .footer_top .contact-us .call,
footer .footer_top .contact-us .email,
footer .footer_top .contact-us .page {
  margin: 5px;
  display: flex;
  gap: 10px;
}
footer .footer_top .contact-us .call:hover,
footer .footer_top .contact-us .email:hover,
footer .footer_top .contact-us .page:hover {
  color: teal;
}
@media screen and (max-width: 820px) {
  footer .footer_top {
    margin-left: -450px;
    font-size: 18px;
    margin-top: -30px;
  }
}

.footer-down {
  background: teal;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-down a {
  color: rgb(0, 0, 0);
}
.footer-down a:hover {
  color: white;
  text-decoration: underline;
}
.footer-down a:hover a {
  color: white;
}

header {
  background-color: rgb(189, 211, 238);
  height: 100vh;
  color: rgb(12, 54, 62);
  padding-top: 100px;
  display: flex;
}
header .header-left {
  flex: 2;
  text-align: center;
  margin-top: 90px;
  margin-left: 80px;
}
header .header-left h2 {
  font-size: 50px;
  color: rgb(13, 107, 107);
}
@media screen and (max-width: 1024px) {
  header .header-left h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 820px) {
  header .header-left h2 {
    font-size: 30px;
  }
}
header .header-left h5 {
  font-size: 23px;
  color: white;
  margin: 5px;
}
@media screen and (max-width: 1024px) {
  header .header-left h5 {
    font-size: 19px;
  }
}
header .header-left p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}
header .header-left p span {
  font-size: 40px;
  margin: 10px;
  color: rgb(13, 107, 107);
}
@media screen and (max-width: 1024px) {
  header .header-left p span {
    font-size: 30px;
    margin: 5px;
  }
}
@media screen and (max-width: 820px) {
  header .header-left p span {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-left p {
    font-size: 14px;
  }
}
header .header-left button {
  background: teal;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 50px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  header .header-left button {
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  header .header-left {
    flex: 3;
  }
  header .header-left margin {
    left: 50px;
    top: 110px;
  }
}
header .header-right {
  flex: 2;
  margin-top: -120px;
}
@media screen and (max-width: 1024px) {
  header .header-right {
    flex: 1.5;
    margin-top: -150px;
  }
}
@media screen and (max-width: 820px) {
  header .header-right {
    flex: 2;
    margin-top: -100px;
  }
  header .header-right img {
    width: 500px;
    height: 450px;
  }
}

@media screen and (max-width: 820px) {
  header {
    height: 85vh;
  }
}
main {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
main .food_product {
  text-align: center;
  margin-top: -10px;
  font-size: 16px;
}
main .food_product p {
  margin-top: 10px;
}
main .shopping,
main .newarrival,
main .shopebypets,
main .newproducdselling {
  text-align: center;
}
main .shopping h2,
main .newarrival h2,
main .shopebypets h2,
main .newproducdselling h2 {
  text-align: center;
  font-size: 22px;
  margin: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  main .shopping h2,
  main .newarrival h2,
  main .shopebypets h2,
  main .newproducdselling h2 {
    font-size: 25px;
  }
}
main .shopping .group_cards,
main .shopping .group_card,
main .newarrival .group_cards,
main .newarrival .group_card,
main .shopebypets .group_cards,
main .shopebypets .group_card,
main .newproducdselling .group_cards,
main .newproducdselling .group_card {
  display: flex;
  gap: 20px;
  margin: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
main .shopping .group_card::-webkit-scrollbar,
main .shopping .group_cards::-webkit-scrollbar,
main .newarrival .group_card::-webkit-scrollbar,
main .newarrival .group_cards::-webkit-scrollbar,
main .shopebypets .group_card::-webkit-scrollbar,
main .shopebypets .group_cards::-webkit-scrollbar,
main .newproducdselling .group_card::-webkit-scrollbar,
main .newproducdselling .group_cards::-webkit-scrollbar {
  display: none;
}
main .shopping .card,
main .newarrival .card,
main .shopebypets .card,
main .newproducdselling .card {
  border: 1px solid gainsboro;
  border-radius: 15px;
  text-align: start;
  font-size: 15px;
  height: auto;
  gap: 30px;
  padding-bottom: 30px;
}
main .shopping .card img,
main .newarrival .card img,
main .shopebypets .card img,
main .newproducdselling .card img {
  border-radius: 15px 15px 0px 0px;
}
@media screen and (max-width: 1024px) {
  main .shopping .card img,
  main .newarrival .card img,
  main .shopebypets .card img,
  main .newproducdselling .card img {
    width: 233px;
  }
}
main .shopping .card .price,
main .newarrival .card .price,
main .shopebypets .card .price,
main .newproducdselling .card .price {
  display: flex;
  padding-left: 10px;
  gap: 20px;
  font-size: "fonds";
  margin: 10px;
}
main .shopping .card label,
main .newarrival .card label,
main .shopebypets .card label,
main .newproducdselling .card label {
  margin: 40px;
  font-weight: bold;
  font-size: "fonds";
}
main .shopping .card button,
main .newarrival .card button,
main .shopebypets .card button,
main .newproducdselling .card button {
  text-align: center;
  background: rgb(21, 160, 189);
  border: 1px solid #15A0BD;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 0px 25px;
  font-size: 13px;
  color: white;
  margin: 5px 35px;
}
main .shopping .card button p,
main .newarrival .card button p,
main .shopebypets .card button p,
main .newproducdselling .card button p {
  font-size: 13px;
  padding-top: 7px;
}
@media screen and (max-width: 1024px) {
  main .shopping .card button p,
  main .newarrival .card button p,
  main .shopebypets .card button p,
  main .newproducdselling .card button p {
    font-size: 11px;
    padding: 3px;
  }
}
@media screen and (max-width: 820px) {
  main .shopping .card button p,
  main .newarrival .card button p,
  main .shopebypets .card button p,
  main .newproducdselling .card button p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  main .shopping .card button p,
  main .newarrival .card button p,
  main .shopebypets .card button p,
  main .newproducdselling .card button p {
    font-size: 13px;
  }
}
main .shopping .card button i,
main .newarrival .card button i,
main .shopebypets .card button i,
main .newproducdselling .card button i {
  padding-top: 5px;
}
@media screen and (max-width: 1024px) {
  main .shopping .card button i,
  main .newarrival .card button i,
  main .shopebypets .card button i,
  main .newproducdselling .card button i {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  main .shopping .card button i,
  main .newarrival .card button i,
  main .shopebypets .card button i,
  main .newproducdselling .card button i {
    font-size: 25px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .shopping .card button i,
  main .newarrival .card button i,
  main .shopebypets .card button i,
  main .newproducdselling .card button i {
    font-size: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .shopping .card button,
  main .newarrival .card button,
  main .shopebypets .card button,
  main .newproducdselling .card button {
    width: 70%;
    margin-left: 45px;
    padding: 5px;
  }
}
@media screen and (max-width: 820px) {
  main .shopping .card button,
  main .newarrival .card button,
  main .shopebypets .card button,
  main .newproducdselling .card button {
    width: 80%;
    padding: 5px;
    margin-left: 23px;
  }
}
main .shopping .card h3,
main .newarrival .card h3,
main .shopebypets .card h3,
main .newproducdselling .card h3 {
  margin-left: 15px;
}
main .shopping .card .group_icons,
main .newarrival .card .group_icons,
main .shopebypets .card .group_icons,
main .newproducdselling .card .group_icons {
  width: 100%;
  padding-left: 12px;
  display: flex;
  font-size: 8px;
  color: rgb(249, 165, 11);
}
main .shopping .card .listnumber-card,
main .newarrival .card .listnumber-card,
main .shopebypets .card .listnumber-card,
main .newproducdselling .card .listnumber-card {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 10px;
  font-size: 18px;
}
main .shopping .card .listnumber-card span,
main .newarrival .card .listnumber-card span,
main .shopebypets .card .listnumber-card span,
main .newproducdselling .card .listnumber-card span {
  font-size: 20px;
  color: red;
}
@media screen and (max-width: 600px) {
  main .shopping .card,
  main .newarrival .card,
  main .shopebypets .card,
  main .newproducdselling .card {
    gap: 20px;
  }
}
main .price p {
  text-decoration: line-through;
  font-size: 15px;
}
main .price span {
  font-weight: bold;
  text-decoration: none;
  margin-top: -5px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.service {
  text-align: center;
  margin: 30px;
}
.service p {
  font-size: 18px;
}

.service_cards {
  height: 75vh;
  background-image: url(../images/service/service.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 50px;
}
.service_cards .group_cards {
  width: 80%;
  height: 35vh;
  margin-left: 140px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  background: rgb(21, 160, 189);
  margin-top: 330px;
}
.service_cards .group_cards .card {
  background: white;
  margin: 20px 0px;
  width: 22%;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
}
.service_cards .group_cards .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) {
  .service_cards .group_cards .card {
    padding-top: -20px;
  }
}
@media screen and (max-width: 820px) {
  .service_cards .group_cards .card {
    width: 25%;
    padding: 5px;
    margin: 16px 15px;
  }
}
@media screen and (max-width: 1024px) {
  .service_cards .group_cards {
    margin-left: 110px;
  }
}
@media screen and (max-width: 820px) {
  .service_cards .group_cards {
    width: 95%;
  }
  .service_cards .group_cards margin {
    left: 20px;
    top: 310px;
  }
}

.comment {
  margin-top: 150px;
  text-align: center;
}
.comment .group_cards {
  display: flex;
  margin: 30px;
  gap: 30px;
  overflow-x: scroll;
}
.comment .group_cards .card {
  border: 1px solid rgb(21, 160, 189);
  border-radius: 15px;
  width: 30rem !important;
  font-size: 16px;
  text-align: justify;
  padding: 10px;
}
.comment .group_cards .card .card-top {
  display: flex;
  gap: 20px;
  margin: 20px;
}
.comment .group_cards .card .card-top img {
  border-radius: 50px;
}
.comment .group_cards .card .card-top .acc {
  text-align: start;
  font-size: 18px;
  padding-top: 3px;
}
.comment .group_cards .card .card-down {
  margin: 10px;
}
@media screen and (max-width: 1024px) {
  .comment .group_cards .card:nth-last-child(3) {
    display: none;
  }
}

.customer_comment {
  text-align: center;
  color: white;
  background: rgb(19, 192, 226);
  width: 55%;
  height: 45vh;
  padding: 40px;
  margin-left: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customer_comment #email,
.customer_comment #comment {
  outline: 0;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin-left: 60px;
}
@media screen and (max-width: 1024px) {
  .customer_comment #email,
  .customer_comment #comment {
    margin-left: 20px;
    margin: 5px;
  }
}
.customer_comment #submit {
  width: 20%;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid rgb(21, 160, 189);
  border-radius: 10px;
  margin-left: 450px;
  background: rgb(4, 141, 4);
}
@media screen and (max-width: 1024px) {
  .customer_comment #submit {
    margin-left: 370px;
  }
}
@media screen and (max-width: 820px) {
  .customer_comment #submit {
    margin-left: 420px;
  }
}

@media screen and (max-width: 1024px) {
  .customer_comment {
    margin-left: 250px;
  }
}
@media screen and (max-width: 820px) {
  .customer_comment {
    width: 75%;
    margin-left: 110px;
  }
}/*# sourceMappingURL=services.css.map */