@import"./main.scss";
header {
  height: 100vh;
  background: url(../images/about/header.jpg);
  background-size: 100% 100%;
  padding-top: 180px;

  .bg {
    background: rgba(0, 0, 0, 0.195);
    height: 50vh;
    padding: 30px;
    width: 45%;
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 80px;
    border-radius: 20px;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

main {
  .mission {
    background:rgb(21, 160, 189);
    height: 30vh;
    color: white;
    padding: 0px 127px 20px 127px;
    text-align: justify;
    margin-top: 80px;

    h2 {
      text-align: center;
      margin: 20px 0px 20px 0px;
    }
  }

  h2 {
    text-align: center;
    margin: 35px 0px 0px 0px;

  }

  .value {
    display: flex;
   margin-left: 120px;
    padding-top: 50px;
    text-align: center;

    .pet {

      p {
        margin: 0px 30px ;
      }
    }
    .pet:hover{
      transform: scale(1.05);
      box-shadow: 0px 7px 10px rgba(teal, 0.2);
      border: 1px solid rgb(21, 160, 189);
      border-radius: 20px;
      padding: 10px;

    }

  }

  .team {
    display: flex;
    justify-content: space-evenly;

    .card-i {
      background: rgb(138, 175, 219);
      flex: 1;
      border-radius: 20px;
      text-align: center;
      margin: 20px;

      img {
        border-radius: 150px;
        margin: 60px 0px 30px 0px;
        border: 2px solid #15A0BD;
      }

      p {
        margin: 10px 20px 20px 20px;
        text-align: justify;
      }
    }
  }

  .text {
    padding: 30px 100px 30px 100px;
    font-size: 17px;

    p {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .background {
    display: flex;
    justify-content: space-evenly;

    img {
      border-radius: 5px;
    }
  }
}