@import '../sass/main.scss';

header {
    background-image: url(../images/service/header1.png);
    background-size: 75%;
    background-color: rgb(189, 211, 238);
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 80vh;
    color: rgb(12, 54, 62);
    text-align: center;
    font-size: 40px;
    padding-top: 100px;

}

main {
    display: flex;
    flex-direction: column;
    font-size: 20px;

    .food_product {
        text-align: center;
        margin-top:-20px;
        span{
            color: rgb(21, 160, 189);
            font-size: 30px;
            margin-left: 15px;
            margin-right: 15px;
            
        }
        p{
            margin-top: 20px;
        }
    }
    @import "components/card";
       
        .price p{
            text-decoration: line-through;
            font-size: 15px;
        }
        .price span{
            font-weight: bold;
            text-decoration: none;
            margin-top: -5px;
        
    }
    
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid white;
}
