.shopping,
.newarrival,
.shopebypets,
.newproducdselling {
    text-align: center;
    // margin-top: -20px;
    // margin-bottom: 30px;
    h2{
        text-align: center;
        font-size: 25px;
        margin: 30px;
    }
    .group_cards,
    .group_card {
        display: flex;
        gap: 20px;
        margin: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .group_card::-webkit-scrollbar {
        display: none;
    }

    .card {
        border: 1px solid rgb(229, 223, 223);
        border-radius: 15px;
        text-align: start;
        font-size: 15px;
        height: auto;
        gap: 30px;
        padding-bottom: 30px;
        img {
            border-radius: 15px 15px 0px 0px;
        }

        .price {
            display: flex;
            padding-left: 10px;
            gap: 20px;  
            font-size: 18px;
            margin: 10px;
            
        }

        button {
            text-align: center;
            background: rgb(21, 160, 189);
            border: 1px solid #15A0BD;
            display: flex;
            gap: 10px;
            border-radius: 10px;
            padding:0px 25px;
            font-size: 13px;
            color: white;
            margin: 5px 35px;

            p{
                font-size: 13px;
                padding-top: 7px;
            }
            i{
                padding-top: 5px;
            }

        }

        h3 {
            margin-left: 15px;
        }

        .group_icons {
            width: 100%;
            padding-left: 12px;
            display: flex;
            font-size:8px;
            color: rgb(249, 165, 11);
          
        }
    }

}
