footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 134, 238, 0.31);
    margin-top: 50px;
}

.footer-content-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 50px;

    .footer-right {
        display: flex;
        flex-direction: column;

        img {
            height: 200px;
            margin-top: -55px;
        }

        p {
            margin-left: 30px;
            margin-top: -40px;
        }

        .footer-center1 h4 {
            display: grid;
            justify-content: center;
        }

    }

    .footer-center1 {
        h4 {
            font-size: 25px;
        }

        .list-footer {
            font-size: 18px;
            margin-top: 15px;

            p {
                margin-top: 10px;

            }
        }
    }
}

hr {
    margin-top: 40px;
    margin-left: 26%;
    width: 50%;
    border: 1px solid rgb(94, 87, 87);
}

.footer-content-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 30px;

    .left-footer {
        margin-left: 30px;
        a{
            color: black;
        }
        a:hover{
            color: rgb(20, 12, 247);
        }


    }

    .right-footer {
        display: flex;
        justify-content: end;
        gap: 30px;
        margin-right: 20px;

        .material-icons {
            font-size: 33px;

        }
    }

}