footer {
    background: rgba(0, 128, 128, 0.129);
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    .footer_top {
        display: flex;
        height: 40vh;
        justify-content: space-evenly;

        .logo_shop {
            flex: 2;
            padding-left: 40px;

            img {
                margin-top: -10px;
                margin-left: 80px;

            }

            h5 {
                padding-left: -40px;
            }
            h5:hover{
                color: teal;
            }
        }

        .our-service,
        .our-story {
            flex: 1;
            margin-top: 50px;

            ul {
                font-weight: bold;
                font-size: 13px;

                li {
                    margin: 5px;
                }

            }
                li:hover{
                color: teal;
                text-decoration: underline;
                }
        }

        .contact-us {
            flex: 1;
            margin-top: 50px;

            .call,
            .email,
            .page {
                margin: 5px;
                display: flex;
                gap: 10px;
            }
            .call:hover,
            .email:hover,
            .page:hover{
                color: teal;
            }
        }
    }
    .footer-down {
        background: teal;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a{
            color: rgb(0, 0, 0);
        }
        a:hover{
            color: rgb(255, 255, 255);
            text-decoration: underline;

        a {
            color: white;
        }
    }
}
}
