@import"../mixins/mixin";

footer {
    background: rgba(0, 128, 128, 0.129);
    margin-top: 100px;
    @include display-column;

    .footer_top {
        display: flex;
        height: 40vh;
        justify-content: space-evenly;

        .logo_shop {
            flex: 2;
            padding-left: 40px;

            img {
                margin-top: -10px;
                margin-left: 80px;
            }

            h5 {
                padding-left: -40px;
            }

            @include device-Screen("desktop") {
                h5 {
                    margin: -30px 20px 30px -20px;
                    text-align: justify;
                }

            }

            @include device-Screen("tablet") {

                img,
                h5 {
                    display: none;
                }
            }

            h5:hover {
                color: $teal-color;
            }
        }

        .our-service,
        .our-story {
            flex: 1;
            margin-top: 50px;

            ul {
                font-weight: bold;
                font-size: $fond-size;

                li {
                    margin: 5px;
                }

                @include device-Screen("tablet") {
                    li {
                        font-size: 15px;
                        margin: 2px;
                    }
                }

                @include device-Screen("phone") {
                    li {
                        font-size: 13.5px;
                        margin: 2px;
                    }
                }

            }


            li:hover {
                color: $teal-color;
                text-decoration: underline;
            }
        }

        .contact-us {
            flex: 1;
            margin-top: 50px;

            .call,
            .email,
            .page {
                margin: 5px;
                display: flex;
                gap: 10px;
            }

            .call:hover,
            .email:hover,
            .page:hover {
                color: $teal-color;
            }
        }

        @include device-Screen("phone") {
            .contact-us {
                margin-right: 20px;
            }
        }
    }

    @include device-Screen("tablet") {
        .footer_top {
            font-size: 18px;
            margin-top: -30px;
            margin-left: -450px;
        }
    }

    @include device-Screen("phone") {
        .footer_top {
            font-size: 16.5px;
            margin-left: -370px;
        }
    }

}

.footer-down {
    background: $teal-color;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    a {
        color: rgb(0, 0, 0);
    }

    a:hover {
        color: $white-color;
        text-decoration: underline;

        a {
            color: $white-color;
        }
    }
}