@import"../mixins/responsive";

nav {
    display: grid;
    width: 100%;
    height: 13vh;
    grid-template-columns: 1fr 1.5fr 1fr;
    position: fixed;
    overflow: hidden;
    transition: 0.4s;
    z-index: 99;
    background-color: $white-color;
    border-bottom: 0.5px solid teal;

    .nav-right {
        img {
            margin-top: -27px;
            margin-left: 70px;
        }

        @include device-Screen("desktop") {
            img {
                margin-top: -22px;
                height: 120px;
                width: 120px;
            }
        }

        @include device-Screen("tablet") {
            img {
                margin-top: -20px;
                height: 115px;
                width: 115px;
            }
        }

        @include device-Screen("phone") {
            img {
                margin-left: 10px;
                margin-top: -20px;
                height: 100px;
                width: 100px;
            }

        }
    }


    .nav-center {
        margin-top: 18px;
        font-size: 25px;
        display: flex;
        justify-content: space-around;
        gap: 50px;
        // width: 130%;

        h4 {
            text-align: center;
            padding-top: 10px;
            font-size: 17px;
        }

        @include device-Screen("desktop") {
            h4 {
                font-size: 17px;
            }
        }


        @include device-Screen("tablet") {
            h4 {
                font-size: 15px;
            }
        }

        @include device-Screen("phone") {
            h4 {
                font-size: $fond-size;
            }
        }

        h4:hover {
            color: rgb(134, 214, 214);
            transform: scale(1.1);
            transition: 0.4s;
            text-decoration: underline;

        }
    }

    @include device-Screen("phone") {
        .nav-center {
            gap: 10px;
        }
    }

    .nav-left {
        display: flex;
        justify-content: end;
        gap: 50px;
        margin-right: 90px;
        margin-top: 22px;

        .material-icons {
            font-size: 34px;
            color: black;
        }

        @include device-Screen ("desktop") {
            .material-icons {
                font-size: 28px;
            }
        }

        @include device-Screen ("phone") {
            .material-icons {
                font-size: 28px;
            }
        }
    }

    @include device-Screen ("phone") {
        .nav-left {
            gap: 25px;
            margin-right: 40px;
        }
    }
}

@include device-Screen("phone") {
    nav {
        height: 10vh;

    }
}

@include device-Screen("phone") {
    nav {
        width: 100%;
    }
}