nav {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(17, 156, 156);
    .nav-right {
        background-color: aliceblue;
        img {
            margin-top: -35px;
            margin-left: 70px;
        }
    }
    .nav-center {
        font-size: 25px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    .nav-left {
        display: flex;
        justify-content: end;
        gap: 40px;
        margin-right: 60px;
        margin-top: 25px; 

    }

}




